#set($beanName = $!stringUtils.append($tableInfo.getName(),"ServiceImpl"))
#set($serviceName = $!stringUtils.append("I",$tableInfo.getName(),"Service"))
#set($entityName = $!stringUtils.append($tableInfo.getName(),"Entity"))
#set($mapperName = $!stringUtils.append($tableInfo.getName(),"Mapper"))

#set($packagePath = $!tableInfo.getCallback().getPackageName())
$!tableInfo.getCallback().setFileName($!stringUtils.append($beanName,".java"))
$!tableInfo.getCallback().setPackageName($!stringUtils.append($packagePath,".service.impl"))


package $tableInfo.getCallback().getPackageName();

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import $!{packagePath}.mapper.$!{mapperName};
import $!{packagePath}.entity.$!{entityName};
import $!{packagePath}.service.$!{serviceName};
import org.springframework.stereotype.Service;

/**
 * $!{beanName}-$!{tableInfo.getComment()}-Service
 *
 * @author $!{tableInfo.getAuthor()}
 */
@Service
public class $!{beanName} extends BaseServiceImpl<$!{mapperName}, $!{entityName}> implements $!{serviceName}{

}
