#set($beanName = $!{stringUtils.append("I",$tableInfo.getName(),"Service")})
#set($entityName = $!{stringUtils.append($tableInfo.getName(),"Entity")})
#set($packagePath = $!{tableInfo.getCallback().getPackageName()})

$!tableInfo.getCallback().setFileName($!{stringUtils.append($beanName,".java")})
$!tableInfo.getCallback().setPackageName($!{stringUtils.append($tableInfo.getCallback().getPackageName(),".service")})


package $!{tableInfo.getCallback().getPackageName()}

import com.baomidou.mybatisplus.extension.service.IService;
import $!{packagePath}.entity.$!entityName;

/**
 * $!{beanName}-$!{tableInfo.getComment()}-Service
 *
 * @author $!{tableInfo.getAuthor()}
 */
public interface $!{beanName} extends IService<$!entityName> {

}
