#set($beanName = $!stringUtils.append("I",$tableInfo.getName(),"Service"))
#set($entityName = $!stringUtils.append($tableInfo.getName(),"Entity"))
#set($packagePath = $!tableInfo.getCallback().getPackageName())

$!tableInfo.getCallback().setFileName($!stringUtils.append($beanName,".java"))
$!tableInfo.getCallback().setPackageName($!stringUtils.append($packagePath,".service"))


package $tableInfo.getCallback().getPackageName();

import com.sdtsoft.common.mybatis.core.BaseService;
import $!{packagePath}.entity.$!entityName;

/**
 * $!{beanName}-$!{tableInfo.getComment()}-Service
 *
 * @author $!{tableInfo.getAuthor()}
 */
public interface $!{beanName} extends BaseService<$!entityName> {

}
