#set($beanName = $!stringUtils.append($!tableInfo.getName(),"VO"))
$!tableInfo.getCallback().setFileName($!stringUtils.append($beanName,".java"))
## 设置文件包名称
$!tableInfo.getCallback().setPackageName($!stringUtils.append($tableInfo.getCallback().getPackageName(),".vo"))

#if($tableInfo.getComment()) #set( $comment= $!stringUtils.append($tableInfo.getComment(),"实体VO")) #else #set( $comment= $!stringUtils.append($beanName,"实体VO")) #{end}

package $tableInfo.getCallback().getPackageName();

import java.io.Serializable;
import java.util.Date;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.sdtsoft.common.core.annotation.Excel;
import com.sdtsoft.common.core.annotation.Excel.ColumnType;
import com.fasterxml.jackson.annotation.JsonFormat;
/**
 * $!{comment}
 *
 * @author $!{tableInfo.getAuthor()}
 */
@ApiModel(value = "$!{comment}")
@Data
public class $!{beanName}  implements Serializable{
#foreach($item in $tableInfo.getColumns() )

    /**
    *$!{item.getComment()}
    */
    #if($item.getShortJavaType() =="Date")
@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @Excel(name = "$!{item.getComment()}" , width = 30, dateFormat = "yyyy-MM-dd HH:mm:ss")
    #else
@Excel(name = "$!{item.getComment()}")
    #end
@ApiModelProperty(value = "$!{item.getComment()}")
private $item.getShortJavaType() $item.getName();
    #if($item.getShortJavaType() =="Date")
    /**
     *$!{item.getComment()}-开始时间
     */
@ApiModelProperty(value = "$!{item.getComment()}开始时间")
private $item.getShortJavaType() start$!stringUtils.upperCaseFirstOne($item.getName());
    /**
     *$!{item.getComment()}-结束时间
     */
    @ApiModelProperty(value = "$!{item.getComment()}结束时间")
private $item.getShortJavaType() end$!stringUtils.upperCaseFirstOne($item.getName());
    #end
#end
}
