#* @implicitly included *#
## 导入String工具包
#* @vtlvariable name="stringUtils" type="org.etd.generate.code.plugin.utils.StringUtil" *#
## 导入TableInfo相关信息
#* @vtlvariable name="tableInfo" type="org.etd.generate.code.plugin.bean.TableInfo" *#